.gallery-container {
    margin: auto;
    text-align: center;
}

.gallery-images{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 600px;
}

.carousel-image {
    height: 45px;
    width: 80px;
    margin: 12px;
    border: 1px solid black;
}

.current-image {
    width: 500px;
    height: 281px;
}

.toggle-button {
    margin: auto;
}
